.custom-logo-link { width: 160px !important; }
.custom-logo,
.site-logo-img .custom-logo,
.site-logo-img img.custom-logo,
header .custom-logo-link img { max-width: 160px !important; width: 160px !important; height: auto !important; max-height: 160px !important; }
